*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #000;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}
h1{
    font-size: 3em;
    text-align: left;
}
p{
    font-size: 18px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 200;
    word-spacing: -0.5;
    line-height: 1.5;
    padding-right: 8vw;
    padding-bottom: 1.6vw;

}
a{
    color: white;
    font-size: 2.2vh;
    font-weight: 200;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-decoration: none;
}
img{
    max-width: 100%;
}
footer{
    justify-content: space-around;
    padding: 2vw 0;
}
.meta{
    writing-mode: vertical-lr;
    position: absolute;
    left: 1vw;
    top: 4vw;
    font-size: 2.2vh;
    position: fixed;
    z-index: 1;
    word-spacing: 5px;
    letter-spacing: 1;
}
.meta span{
    transform: rotate(-90deg);
    font-size: 3vw;
}
/*  */
/* Hero */
/*  */
.hero-anim{
    width:40vw;
    height: auto;
    padding-top: 45%;
    margin: 0 auto;
    display: block;
    background-color: black;
    background-position: center 4vw;
    background-size: 98%;
    background-repeat: no-repeat;
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;

}
/*  */
/* The animation code */
/*  */
@keyframes expo {
    0% {background-image: url("01.JPEG");}
    25% {background-image: url("02.JPEG");}
    50% {background-image: url("03.JPEG");}
    100% {background-image: url("04.JPEG");}
}

.expo-anim{
    width:100vw;
    height: auto;
    padding-top: 95%;
    margin: 0 auto;
    display: block;
    background-color: black;
    background-position: center 4vw;
    background-size: 68%;
    background-repeat: no-repeat;
    animation-name: expo;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

@keyframes example {
    0% {background-image: url("grid/91.png");}
    4% {background-image: url("grid/86.png");}
    8% {background-image: url("grid/34.png");}
    12% {background-image: url("grid/32.png");}
    16% {background-image: url("grid/21.png");}
    20% {background-image: url("grid/08.png");}
    24% {background-image: url("grid/07.png");}
    28% {background-image: url("grid/08.png");}
    32% {background-image: url("grid/25.png");}
    36% {background-image: url("grid/48.png");}
    40% {background-image: url("grid/09.png");}
    44% {background-image: url("grid/38.png");}
    48% {background-image: url("grid/65.png");}
    52% {background-image: url("grid/80.png");}
    56% {background-image: url("grid/88.png");}
    60% {background-image: url("grid/72.png");}
    64% {background-image: url("grid/51.png");}
    68% {background-image: url("grid/16 .png");}
    72% {background-image: url("grid/05.png");}
    76% {background-image: url("grid/70.png");}
    80% {background-image: url("grid/85.png");}
    84% {background-image: url("grid/100.png");}
    90% {background-image: url("grid/09.png");}
    94% {background-image: url("grid/04.png");}
    98% {background-image: url("grid/29.png");}
    94% {background-image: url("grid/45.png");}
}

  
/*  */
/* Description */
@media screen and (min-width: 1024px) {
    .description {
        width: calc(100%/2);
    }
}

@media screen and (max-width: 1024px) {
    .description {
        width: calc(100%);
    }
}
.description{
    padding-left: 8vw;
}

.flex-center{
    display: flex;
    align-items: center;
}
@media screen and (min-width: 1024px) {
    .flex-center {
        flex-direction:row;
    }
}

@media screen and (max-width: 1024px) {
    .flex-center {
        width: calc(100%);
        flex-direction:column;
    }
}


/*  */
/* Mock-up */ 
/*  */
.mock-up {
    position: relative;
}
.mock-up p{
    position: absolute;
    left: 8vw;
    bottom: 10vw;
}
/*  */
/* Image-Grid */ 
/*  */
.container {
    width: 100%;
    margin: 0 auto;
}

.photos {
    display: flex;
    background-color: #000;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    padding: 0;
    width: 100%;
}

.photos img {
    display: block;
    float: left;
    flex: 0 0 auto;
    background-color: #fff;
}


@media screen and (min-width: 1024px) {
    .photos img {
        width: calc(100%/4);
        height: calc(100%/4);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .photos img {
        width: calc(100%/4);
        height: calc(100%/4);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .photos img {
        width: calc(100%/2);
        height: calc(100%/2);
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .photos img {
        width: calc(100%/2);
        height: calc(100%/2);
    }
}

@media screen  and (max-width: 320px) {
    .photos img {
        width: 100%;
        height: 100%;
    }
}
